<style type="text/css">
    body {
        height: 800px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .form-container {
        position: relative;
        top: 10px;
        left: 200px;
        padding: 5px 20px 5px 20px;
        /*height: 600px;*/
        width: 720px;
        background: rgba(250, 243, 255, 0.30);
        border: 1px solid #cc0e0b;
        border-radius: 15px;

    }
</style>


<div class="form-container">

    <table>
        <tr data-ng-repeat="user in userList">
            <td> {{user.name}}</td>
            <td>Role:
                <select name="singleSelect" ng-model="user.status" ng-change="changeStatus(user.name, user.status)">
                    <option value="ADMIN">ADMIN</option>
                    <option globalWeight="USER">USER</option>
                    <option globalWeight="DISABLED">DISABLED</option>
                </select>
            </td>
            <td>
                <button type="button" ng-click="deleteUser(user.name)">Delete account</button>
            </td>
            <td>
                <button type="button" ng-click="seeUserPolls(user.name)">See his polls</button>
            </td>
        </tr>
    </table>

</div>