<style>
    body {
        top: 10px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mainContainer {
        padding-top: 10px;
        padding-right: 200px;
        padding-bottom: 50px;
        padding-left: 200px;
    }

</style>

<!--    //moje jakies kolorowanie skladni dla javy np ace albo jsyntax pane-->
<div class="mainContainer">
    <table border="1">
        <tr data-ng-repeat="method in customMethods">
            <td>{{method.data.name}}</td>
            <td>
                <button class="btn btn-default" ng-click="editMethod(method)">
                    Edit
                </button>
            </td>
        </tr>
    </table>
    <h3 ng-show="editMode">Editing mode</h3><br/>
    Judgment method name:<br/>
    <input type="text" ng-model="customMethod.name"/><br/>

     Imports:<br/>
    <textarea rows="3" cols="50" ng-model="customMethod.imports"></textarea><br/>


   Please choose required jar/library to add to classpath:<br/>
    <div ng-show="libraries.length == 0">
        <h4> No uploaded libraries found.</h4>
    </div>


    <label ng-repeat="lib in libraries">
        <input type="checkbox"
                name="customMethodlibs"
                value="{{lib.id}}"
                ng-checked="customMethod.dependencies.indexOf(lib.id) > -1"
                ng-click="toggleSelection(lib.id)">
        {{lib.fileName}}
    </label>




    public double[] computeWeights(ComparisonMatrix matrix){<br/>
    <textarea rows="15" cols="50" ng-model="customMethod.code">
    </textarea><br/>
    }


    <button class="btn btn-default" ng-click="addCustomMethod()" ng-show="!editMode">
        Add method
    </button>
    <button class="btn btn-default" ng-click="saveChanges()" ng-show="editMode">
        Save changes
    </button>
    <button class="btn btn-default" ng-click="exitEditMode()" ng-show="editMode">
       Cancel
    </button>



    <br/>


    =====================================================================================<br/>


    ComparisonMatrix API:<br/>
    <ul>
        <li> public double getMaxEigenvalue()</li>
        <li> public double getElement(int row, int col)</li>
        <li> public double[][] convert()</li>
        <li> public int getSize()</li>
    </ul>
</div>