<style>
    body {
        height: 800px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div>
    <div class="alert alert-danger">
        <strong> An error occurred!{{err.message}} </strong>
    </div>
</div>