<!doctype html>
<!--angular controls whole app-->
<html ng-app="pollApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Poll Portal</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 70px; }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak] {
            display: none !important;
            background-image: url("./img/background-world-map-white.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/angular-awesome-slider.min.css">
</head>
<body>
<div ng-controller="navigationController" class="ng-cloak">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-show="!authenticated"><a href="#/">Home Page</a></li>
                <li ng-show="!authenticated"><a href="#/newAccount">Sign up</a></li>
                <li ng-show="!authenticated"><a href="#/publicPolls"> See  public polls </a></li>
                <li ng-show="authenticated"><a href="#/newPoll">Create poll</a></li>
                <li ng-show="authenticated"><a href="#/myPolls">My polls</a></li>
                <li ng-show="authenticated && (admin || superadmin)"><a href="#/adminpanel">Admin Panel</a></li>
                <li ng-show="authenticated && superadmin"><a href="#/customJudgement">Add custom judgement</a></li>
                <li ng-show="authenticated && superadmin"><a href="#/uploadedJars">Add jar</a></li>
                <li ng-show="authenticated"><a href="#/" ng-click="logout()">Log out</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="authenticated"><a >Logged as {{loggedUser}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<div ng-view>
</div>
<script src="js/libs/angular.js" type="text/javascript"></script>
<script src="js/libs/jquery-1.12.3.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/pollApp.js"></script>
<script src="js/adminPanelController.js"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/indexControllers.js"></script>
<script src="js/pollControllers.js"></script>
<script src="js/pollViewerModule.js"></script>
<script src="js/pollTakingControllerModule.js"></script>
<script src="js/newPollControllerModule.js"></script>
<script src="js/statisticsModule.js"></script>
<script src="js/customJudgement.js"></script>
<script type="text/javascript" src="js/libs/angular-awesome-slider.min.js"></script>
<script type="text/javascript" src="js/libs/d3.js"></script>
<script async src="js/libs/analytics.js"></script>
</body>
</html>









