<style>
    .form-signin {
        max-width: 350px;
        padding: 15px;
        margin: 0 auto;
        white-space: nowrap;
    }

    body {
        height: 800px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<div ng-controller="navigationController">
    <form ng-submit="login()" ng-show="!authenticated" class="form-signin">
        <h4>Sign in</h4>
        <label>Email:</label>
        <input type="email" name="username" ng-model="credentials.username"/><br>
        <label>Password:</label>
        <input type="password" name="password" ng-model="credentials.password"/>
        <!--<a href="" ng-click="forgotPass=true" ng-show="!authenticated"> I forgot my password </a>-->
        <br>
        <button class="btn btn-default" type="submit">Submit</button>
        <br>
        You don't have an account? <a href="#/newAccount">Sign up!</a>
        <br>
    </form>
    <form ng-submit="remember()" ng-show="forgotPass">
        <label>Write your email:</label> <input type="text" name="username" ng-model="rememberEmail"/><br>
        <button type="submit">Remember me!</button>
        <br>
    </form>
    <div ng-show="rememberFail">
        There is no email like this in our database!
    </div>
</div>



















