<style type="text/css">
    body {
        height: 800px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    p.indent {
        padding-left: 320px;
    }
</style>
<div>
    <p>
        Polls you have created:
    </p>
    <div ng-show="userPollsArrayGroups[0].length == 0">
       <h4> No polls found.</h4>
    </div>
    <table class="table">
        <tr data-ng-repeat="pollGroup in userPollsArrayGroups">
            <td data-ng-repeat="poll in pollGroup track by $index">
                <div class="panel-body">
                    <span style="font-weight: bold">  Name:</span>{{poll.editableProperties.name}}<br/>
                   <span style="font-weight: bold">   Author:</span>{{poll.author}}<br/>
                   <span style="font-weight: bold">   Description:</span>{{poll.editableProperties.description}}<br/>
                  <span style="font-weight: bold">    Link: </span> /#/getPoll?link={{poll.uuid}}
                    <button type="button" ng-click="takePoll(poll)">Take poll</button>
                    <button type="button" ng-click="seeStatistics(poll)">See statistics</button>
                    <button type="button" ng-click="deletePoll(poll.uuid)">Delete poll</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <div ng-show="noStatisticsAlert" class="alert alert-danger">
        <a href="" class="close" ng-click="noStatisticsAlert=false" aria-label="close">&times;</a>
        <strong>Statistics are not available!</strong> No one has yet taken this poll.
    </div>
</div>
</div>