<style>
    .form-newacc {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        white-space:nowrap;
    }
</style>

<div ng-show="!NewAccountOK">
    <div ng-show="errorNewAccount">
        Please check your form for errors.
    </div>
    <form name="myForm" novalidate class="form-newacc">
        <h4>Creating new account</h4>
        <p><label>Email:</label>
            <input type="email" name="NewAccountEmail" ng-model="NewAccountEmail" required>
            <span style="color:red" ng-show="myForm.NewAccountEmail.$dirty && myForm.NewAccountEmail.$invalid">
                <span ng-show="myForm.NewAccountEmail.$error.required">Email is required.</span>
                 <span ng-show="myForm.NewAccountEmail.$error.email">Invalid email address.</span>
            </span>
        </p>

        <p><label>Password:</label>
            <input type="password" name="NewAccountPassword" ng-model="NewAccountPassword" required>
                <span style="color:red"
                      ng-show="myForm.NewAccountPassword.$dirty && myForm.NewAccountPassword.$invalid">
                <span ng-show="myForm.NewAccountPassword.$error.required">Password is required.</span>
            </span>
        </p>

        <p><input type="submit" data-ng-click="setNewAcc()"
                  ng-disabled="myForm.NewAccountPassword.$invalid || myForm.NewAccountEmail.$invalid">
        </p>

    </form>
</div>

<div ng-show="NewAccountOK">
    <h4> New account has been successfully created.</h4>
</div>