<style>
    .form-newPoll {
        max-width: 550px;
        padding: 15px;
        margin: 0 auto;
    }

    ul {
        list-style: circle;
    }

    li {
        margin-left: 20px;
    }

    body {
        top: 10px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .form-container {
        position: relative;
        top: 10px;
        left: 200px;
        padding: 5px 20px 5px 20px;
        height: 900px;
        width: 720px;
        background: rgba(250, 243, 255, 0.30);
        border: 1px solid #cc0e0b;
        border-radius: 15px;

    }

    .wrap {
        position: relative;
        height: 750px;
        margin: auto;
    }

    .form-container2 {
        position: relative;
        left: 50px;
        height: 300px;
        width: 750px;
        background: rgba(250, 243, 255, 0.30);
        border: 1px solid #cc0e0b;
        border-radius: 15px;
        margin: auto;
    }

    p.indent {
        padding-left: 320px;
    }
</style>
<div class="form-container" ng-show="!generatedTable">
    <span style="font-weight: bold">Poll title : </span>
    <input type="text" ng-model="newPoll.editableProperties.name"/><br/>
    Description:<br/>
    <input type="text" ng-model="newPoll.editableProperties.description" id="desc" size="50"/><br/>
    <span style="font-weight: bold"> Now, build the criteria tree.</span> <br/>
    1.Give the name of a new element in the input field.<br/>
    2.Click Add button near the parent element.<br/>
    Remember that each parent node should have at least 2 children.<br/>
    <input type="text" ng-model="criterionName">

    <script type="text/ng-template" id="tree_item_renderer.html">
        <button type="button" class="btn btn-default">
            {{data.name}}
        </button>
        <button class="btn btn-success" ng-click="add(data,criterionName)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add
        </button>
        <button class="btn btn-danger" ng-click="delete(data)" ng-show="data.subcriteria.length > 0">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Remove all children
        </button>
        <ul>
            <li ng-repeat="data in data.subcriteria" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </script>
    <ul>
        <li ng-repeat="data in treeInList" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    Judgement method :<br/>
    <div data-ng-repeat="method in customMethods">
        <input type="radio" name="judgement" ng-value="method.id"
               ng-model="newPoll.editableProperties.judgementMethodId">{{method.data.name}}<br>
    </div>

    <span style="font-weight: bold"> Access:</span> <br/>

    <div ng-init='newPoll.editableProperties.access="Public"'>
        <input type="radio" name="access" value="Public" ng-model="newPoll.editableProperties.access"
               checked>Public<br/>
        <input type="radio" name="access" value="Private" ng-model="newPoll.editableProperties.access">Private<br/>
    </div>

    <span style="font-weight: bold"> Grade range:</span> <br/><br/>
    <input ng-change="checkGradeScale()" ng-model="rangeSliderValue" type="text" slider
           options="pollCreationSlidersOptions"/><br/>
    <span style="font-weight: bold">  Step:</span>
    <input ng-change="checkGradeScale()" type="text" maxlength="4" size="4" name="interval"
           ng-model="newPoll.editableProperties.interval"/><br><br/>

    <div class="alert alert-danger" ng-show="showGradeScaleErr">
        <strong> The grade scale interval must be divisible by step.</strong>
        ( max - min ) mod step = 0
    </div>


    <div ng-show="gradeScaleOK">
        <span style="font-weight: bold">   Inconsistency Threshold</span>(decimal between 0.0 and 1.0):
        <input type="text" maxlength="4" size="4" name="incThreshold"
               ng-model="newPoll.editableProperties.inconsistencyThreshold"/><br><br/>


        <button class="btn btn-default" ng-click="addAlternative()" ng-show="!isTableReady">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add alternative
        </button>

        <div ng-repeat="alternative in newPoll.alternatives track by $index">
            Alternative number {{$index}} <input type='text' ng-model='newPoll.alternatives[$index]'>
            <button class="btn btn-danger" ng-click="deleteAlternative($index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Remove
            </button>
            <br/>
        </div>


        <button class="btn btn-default" ng-click="generateTable()"
                ng-show="newPoll.alternatives.length >1 && treeInList[0].subcriteria.length > 1 && gradeScaleOK">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            NEXT
        </button>

    </div>

</div>
<div class="wrap" ng-show="generatedTable && !newPollOK">
    <div ng-show="generatedTable && !newPollOK" class="form-container2">
        <br/>
        <span style="font-weight: bold"> You can now add additional information about alternatives in the table below:</span>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td> *</td>
                    <td ng-repeat="alternativeName in nodesWithoutChildren track by $index">{{alternativeName}}</td>
                </tr>
                <tr ng-repeat="(alternative,featuresMap) in alternativesMap track by $index">
                    <td>{{alternative}}</td>
                    <td ng-repeat="(criterion,criterionValue) in featuresMap track by $index">
                        <input type="text" size="7" ng-model="featuresMap[criterion]"/>
                    </td>
                </tr>
            </table>
        </div>
        <br/>


        <p class="indent">
            <button class="btn btn-default" ng-click="createNewPoll()">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Submit
            </button>
        </p>
    </div>

    <div ng-show="newPollOK" class="alert alert-success">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>The poll has been saved</strong>
    </div>

</div>

<div class="wrap" ng-show="newPollOK">
    <p class="indent">

    <div ng-show="newPollOK" class="alert alert-success" style="width:500px;">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>The poll has been saved</strong>
    </div>
    </p>
</div>