<style>
    body {
        height: 800px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainContainer {
        padding-top: 10px;
        padding-right: 200px;
        padding-bottom: 50px;
        padding-left: 200px;
        text-align: center;
    }

    .sliderTitles {
        text-align: center;
    }

    .slidersContainer {
        padding-top: 10px;
        padding-right: 250px;
        padding-bottom: 50px;
        padding-left: 250px;
    }
</style>

<div class="mainContainer">
    <div ng-show="!showingFeedback">
        <div class="slidersContainer">
            <h3> Poll: {{currentPoll.editableProperties.name}}</h3><br/>
            <div ng-show="counter2 != comparisonCriteria.length">
                Most likely, criteria have different degrees of importance fo you. Please change the aspect ratio by
                moving the slider toward more important of the criteria.<br/><br/>
            </div>

            <div class="alert alert-danger" ng-show="showInconsistencyError">
                <strong>Data is inconsistent!</strong>
                You have to change your choices before you go further.
            </div>

            <div ng-show="!secondPhase">

                <script type="text/ng-template" id="tree_item_renderer.html">
                    <div ng-show="timeToShow(data.name)">
                        <div ng-repeat="w in myRange(0,((getSubcriteriaLength(data.name))-2),1  ) track by $index">
                            <div ng-repeat="k in myRange(w+1,(getSubcriteriaLength(data.name)-1),1) track by $index">
                                <br/> <br/>
                                <div class="sliderTitles">
                                    <div class="nav nav-pills pull-left">
                                        {{findElementWithName(data.name,[currentPoll.criteriaTree]).subcriteria[w].name}}
                                    </div>
                                    <div class="nav nav-pills pull-right">
                                        {{findElementWithName(data.name,[currentPoll.criteriaTree]).subcriteria[k].name}}
                                    </div>
                                </div>
                                <br/>

                                <input ng-model="data.preferences[w][k]" type="text" slider options="options"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default pull-right" ng-click="check(data.preferences)">
                            Next
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>

                    </div>
                    <div  ng-repeat="data in data.subcriteria"
                         ng-include="'tree_item_renderer.html'">
                    </div>
                </script>

                <div ng-repeat="data in resultTreeInList" ng-include="'tree_item_renderer.html'">
                </div>

                <button type="button " class="btn btn-default pull-left" ng-click="counter = counter -1"
                        ng-show="counter > 0 && counter < helper">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    Back
                </button>

                <button type="button" class="btn btn-default" ng-click="secondPhase=true;counter2=0"
                        ng-show="counter == helper">
                    Next to alternative assessment
                </button>
            </div>

            <div ng-show="secondPhase">
                <div name="assessment">
                    <div ng-repeat="crit in comparisonCriteria">
                        <div ng-show="comparisonCriteria[counter2] == crit">
                            <div class="sliderTitles">
                                When it comes to
                                <h3><span class="label label-default">{{crit}}</span></h3>
                            </div>

                            <div ng-repeat="w in myRange(0,((currentPoll.alternatives.length)-2),1  ) track by $index">
                                <div ng-repeat="k in myRange(w+1  ,((currentPoll.alternatives.length)-1),1) track by $index">
                                    <div class="sliderTitles">
                                        <div class="nav nav-pills pull-left">
                                            {{currentPoll.alternatives[w]}}
                                            {{currentPoll.alternativesDescriptions[currentPoll.alternatives[w]][crit]}}
                                        </div>
                                        <div class="nav nav-pills pull-right">
                                            {{currentPoll.alternatives[k]}}
                                            {{currentPoll.alternativesDescriptions[currentPoll.alternatives[k]][crit]}}
                                        </div>
                                        <br/>
                                        <br/>
                                    </div>
                                    <input ng-model="mapLeaf2Matrix[crit][w][k]" type="text" slider
                                           options="options"/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <button type="button " class="btn btn-default pull-right"
                                    ng-click="check2(mapLeaf2Matrix[crit])">
                                Next
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <button type="button" ng-click="counter2 = counter2 -1" class="btn btn-default pull-left"
                            ng-show="counter2 > 0">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        Back
                    </button>
                </div>
            </div>
            <div ng-show="counter2 == comparisonCriteria.length">
                You have answered all the questions. Please click Send to see results or Back to check your answers.
                <br/>
                <button type="button" ng-click="sendResults()" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Send
                </button>
            </div>
        </div>
    </div>


    <div class="jumbotron" ng-show="showingFeedback">


        Top score:
        <div ng-repeat="altInd in feedBack.winnerAlternativeIndexes">
           Alternative number  {{altInd+1}} named: {{currentPoll.alternatives[altInd]}}
        </div>

        <table border="1" class="table">
            <tr>
                <td>Alternatives</td>
                <td ng-repeat="criterionIndex in  myRange(0,feedBack.root.subcriteria.length-1,1 ) track by $index">
                    {{feedBack.root.subcriteria[criterionIndex].name}}
                </td>
                <td>Final Grade</td>
            </tr>
            <tr ng-repeat="altInd in  myRange(0,(currentPoll.alternatives.length)-1,1) track by $index ">
                <td>{{currentPoll.alternatives[altInd]}}</td>
                <!--<td>{{feedBack.root.subcriteria[row].vector[row]}}</td>-->

                <td ng-repeat="critInd in  myRange(0,feedBack.root.subcriteria.length-1,1 ) track by $index">
                    {{feedBack.root.subcriteria[critInd].vector[altInd] }}
                </td>

                <td>
                    {{feedBack.root.vector[altInd]}}
                </td>
                <br>
            </tr>
        </table>

        <button type="button" class="btn btn-default" ng-click="redirectToStatistics()">
            See more...
        </button>
    </div>
</div>