<style>
    body {
        height: 1100px;
        top: 0px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>


<div>
    <table class="table">
        <div ng-show="userPollsArrayGroups[0].length == 0">
            <h4> No polls found.</h4>
        </div>
        <tr data-ng-repeat="pollGroup in userPollsArrayGroups">
            <td data-ng-repeat="poll in pollGroup track by $index">
                <div class="panel-body">
                    <span style="font-weight: bold">  Name:</span>{{poll.editableProperties.name}}<br/>
                    <span style="font-weight: bold">   Author:</span>{{poll.author}}<br/>
                    <span style="font-weight: bold">   Description:</span>{{poll.editableProperties.description}}<br/>
                    <span style="font-weight: bold">    Link: </span> /#/getPoll?link={{poll.uuid}}
                    <button type="button" ng-click="deletePoll(poll.uuid)">Delete poll</button>
                </div>
            </td>
        </tr>
    </table>
</div>