<style>
    body {
        height: 1100px;
        top: 0px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<h2> Public polls:</h2>
<div data-ng-cloak class="ng-cloak">
    <div ng-show="publicPollsArrayGroups[0].length == 0">
        <h4> No polls found.</h4>
    </div>
    <table class="table">
        <tr data-ng-repeat="pollGroup in publicPollsArrayGroups">
            <td data-ng-repeat="poll in pollGroup track by $index">
                <div class="panel-body">
                    Name:{{poll.name}}<br/>
                    Author:{{poll.author}}<br/>
                    Description:{{poll.description}}<br/>
                    <button type="button" ng-click="takePoll(poll)">Take poll</button>
                </div>
            </td>
        </tr>
    </table>
</div>
