<style>
    .treeClass {
        padding-right: 200px;
        margin-right: inherit;
    }

    .mainContainer {
        padding-top: 10px;
        padding-right: 100px;
        padding-bottom: 50px;
        padding-left: 0px;
    }

    svg {
        font: 10px sans-serif;
    }

    #chart {
        width: 400px;
        height: 400px;
        background: #bbb;
    }

    text {
        pointer-events: none;
    }

    .grandparent text {
        font-weight: bold;
    }

    rect {
        fill: none;
        stroke: #faf3ff;
    }

    rect.parent,
    .grandparent rect {
        stroke-width: 2px;
    }

    .grandparent rect {
        fill: #ee0400;
    }

    .grandparent:hover rect {
        fill: #cc0e0b;
    }

    .children rect.parent,
    .grandparent rect {
        cursor: pointer;
    }

    rect.parent {
        pointer-events: all;
    }

    .children:hover rect.child {
        fill: #aaa;
    }

    .person rect {
        fill: #fff;
        stroke: #ee0400;
        stroke-width: 1px;
    }

    .person {
        font: 14px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ee0400;
        stroke-width: 1.5px;
    }

    body {
        height: 1100px;
        top: 0px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .form-container2 {
        position: relative;
        top: 0px;
        left: 0px;
        height: 470px;
        width: 800px;
        margin: auto;
    }

    .form-container3 {
        top: 0px;
        position: relative;
        left: 0px;
        height: 470px;
        width: 800px;
        margin: auto;
    }
</style>
<div class="mainContainer">

    <div class="form-container2">
        <h2>Overall statistics</h2>
        <table>
            <tr>
                <td> Click any cell to zoom in, or the top red label to zoom out.
                    <div linear-chart id="chart" class="panel panel-default"></div>
                </td>
                <td>
                    <div ng-show="!pollResult.singlePoll" class="container">
                        <div class="jumbotron" style="width: 500px;">
                            <h2>This poll has been taken :<br/>
                                <ng-pluralize count="pollResult.respondentCount" when="{'one': '1 time.','other': '{} times.'}"/>
                            </h2>
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <div class="form-container3">
        <div tree-chart class="treeClass"></div>
    </div>
</div>