<style>
    body {
        top: 10px;
        background-image: url("./img/background-world-map-white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mainContainer {
        padding-top: 10px;
        padding-right: 200px;
        padding-bottom: 50px;
        padding-left: 200px;
    }

</style>
<div class="mainContainer">
    <table border="1">
        <tr data-ng-repeat="lib in libraries">
            <td>{{lib.fileName}}</td>
        </tr>
    </table>





    <form ng-submit="uploadFile()" class="form-horizontal" enctype="multipart/form-data">
        <input type="file" name="file" ng-model="document.fileInput" id="file"
               onchange="angular.element(this).scope().setTitle(this)" />
        <input type="text" class="col-sm-4" size="35" ng-model="document.title" id="title" />
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>


</div>